@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*   font-family: "Poppins", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body:not(i) {
  font-family: "Poppins", serif;
}
:root {
  --darkTwo: #3a3a3a;
  --darkThree: #787885;
  --darkFour: #5e6366;
  --pink: rgb(224, 44, 109);
  --lightPink: rgba(224, 44, 109, 87%);
  --orange: #ff9900;
}
h1 {
  font-size: 3.25rem;
  color: var(--darkTwo);
}
h2 {
  font-size: 2.4rem;
  color: #0a0826;
}
h3 {
  font-size: 1.7rem;
  color: #18191f;
}
h4 {
  font-size: 1.5rem;
  color: var(--darkTwo);
}
p,
a {
  font-size: 1rem;
  color: var(--darkTwo);
  font-weight: 600;
}
a {
  text-decoration: none;
}
.primary-btn {
  padding: 0.65rem 1.5rem;
  color: #fff;
  background-color: var(--pink);
  border-radius: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  letter-spacing: 0.5px;
  transition: background-color 0.4s;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: var(--darkTwo);
}
.primary-btn i {
  margin-left: 7px;
  vertical-align: middle;
}
.hide {
  display: none;
}
header,
main,
footer {
  max-width: 1200px;
  margin: 0px auto 100px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
/* header style start */
.navbar {
  padding: 70px 0 50px;
}
.nav-menu {
  gap: 34px;
  list-style: none;
}

.search-icon {
  width: 24px;
  margin-top: 7px;
}
.shopping-cart {
  width: 36px;
}

.banner-content {
  max-width: 582px;
}
.banner-content p {
  padding: 16px 0;
}
.banner-profile-pic {
  max-width: 540px;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding: 30px 0 0 10px; */
}
.banner-profile-pic img {
  max-width: 440px;
}
.sponsors-container {
  max-width: 1110px;
  margin: 65px auto;
  padding: 40px 30px;
  flex-wrap: wrap;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to right,
        rgba(255, 126, 95, 0),
        rgba(0, 0, 0, 0.499),
        rgba(255, 126, 95, 0)
      )
      border-box;
}
/* .gradient-border {
  padding: 20px 40px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  background: linear-gradient(white, white) padding-box,linear-gradient(
        to right,
        rgba(255, 126, 95, 0),
        #ff7e5f,
        rgba(255, 126, 95, 0)
      )
      border-box;
} */
/* main section style start */
/* collection section start */
.popular-collection {
  text-align: center;
  max-width: 1047px;
  margin: 0 auto;
}
.collection-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection {
  text-align: left;
  max-width: 329px;
  padding: 17px 15px;
  border-radius: 16px;
  box-shadow: 0 0 10px 0 #7878854c;
}
.collection h4 {
  margin: 6px 0;
  font-size: 1.5rem;
  font-weight: 400;
}
.collection i {
  color: var(--orange);
  margin-right: 2px;
}
.collection p {
  margin-top: 4px;
  color: #787885;
}
.rating {
  color: #787885;
  font-weight: 700;
  margin-left: 4px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  p {
    font-size: 14px;
  }
  .navbar {
    padding: 35px 15px;
  }
  .nav-menu li:not(.shopping) {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 24px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    margin-top: 18px;
    text-align: center;
    & > p {
      margin: 15px auto;
      max-width: 70%;
    }
  }
  .banner-profile-pic {
    max-width: 75%;
  }
  .banner-profile-pic img {
    width: 100%;
  }
  .sponsors-container {
    justify-content: center;
    gap: 20px 31px;
  }
}
